@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

#top {
    display: flex;
    flex: 1;
}


ul {
    display: flex;
    flex: 1;
    gap: 2em;
    list-style-type: none;
}

#hero {
    height: auto;
    width: 15%;
}

header {
    background-color: #1F2937;
}