@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

#logo {
    font-size: 24px;
    color: #F9FAF8;
}

#top {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 1.5em;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

a:hover {
    color: #3882F6;
 }

button {
    padding: 5px 10px;
    border: 2px solid #F9FAF8; 
}

button:hover {
    background-color: #0557d6;
}

button:active {
    background-color: #0557d6;
    transform: translateY(2px);
  }

ul {
    display: flex;
    flex: 1;
    gap: 2em;
    list-style-type: none;
}

#lowerTop {
    display: flex;
    justify-content: space-around;
    flex: 1;
}

#title {
    flex-direction: column;
    padding: 1em;
}

#hero {
    display: flex;
    padding: 1em;
}

header,footer {
    background-color: #1F2937;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

#heroText, nav {
    font-size: 18px;
    color: #E5E7EB;
}

button, .item, #purchase {
    border-radius: 5px;
}

button, #purchase {
    background-color: #3882F6;
    color: #F9FAF8;
}

h3 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

#products{
    display: flex;
    flex: 1;
    justify-content: center; 
}

.item {
    border: 3px solid #3882F6;
}

.item:hover {
    transform: scale(0.9);
}

#review {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    background-color: #E5E7EB;
    padding: 1em;
}

#quote {
    font-size: 36px;
    font-style: oblique;
    color: #1F2937;
    width: 50%;
    position: relative;
}

#quoter {
    font-weight: bolder;
    font-size: 18px;
    position: absolute;
    right: 0;
}

#order {
    display: flex;
    justify-content: center;
    align-items: center;    
    margin: 3em;
    padding: 3em;
}

#purchase {
    display: flex;
    flex: 1;
    min-width: 400px;
    max-width: 800px;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

.callToAction {
    display: flex;
    flex-direction: column;
  }

footer {
    color: #F9FAF8;
    display: flex;
    flex: auto;
    justify-content: center;
}
