@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

#logo {
    font-size: 24px;
    color: #F9FAF8;
}

#top {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 1em;
}


ul {
    display: flex;
    flex: 1;
    gap: 2em;
    list-style-type: none;
}

#lowerTop {
    display: flex;
    justify-content: space-around;
}

#title {
    flex-direction: column;
    padding: 1em;
}

#hero {
    display: flex;
    flex: auto;
    padding: 1em;
}

header,footer {
    background-color: #1F2937;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

#heroText, nav {
    font-size: 18px;
    color: #E5E7EB;
}

button, .item {
    border-radius: 5px;
}

button, #purchase {
    background-color: #3882F6;
    color: #F9FAF8;
}

h3 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

#products{
    display: flex;
    flex: 1;
    justify-content: center;
    
}

.item {
    border: 3px solid #3882F6;
}

#review {
    background-color: #E5E7EB;
}